body {
    background-color: #282c34;
    color: #ffffff;
    font-family: Consolas, "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#terminal {
    background-color: #1b1d23;
    width: 80%;
    height: 80%;
    padding: 20px;
    overflow-y: auto;
    border-radius: 8px;
    border: 1px solid #444;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.prompt {
    display: flex;
    align-items: center;
}

.prompt span {
    color: #4caf50; /* Green color for the prompt */
    margin-right: 5px;
}

.prompt input {
    background-color: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    width: 100%;
}

.command-output {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #ffffff;
}

.command-error {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #ff5555; /* Red color for error messages */
}