body {
    background-color: #1e1e1e;
    color: #00ff00;
    opacity: 1.0
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#terminal {
    background-color: #010101;
    border: 1px solid #333;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0,255,0,0.5);
}

.prompt {
    display: flex;
}

.prompt span {
    margin-right: 5px;
}

#input {
    flex: 1;
    background-color: transparent;
    border: none;
    color: #00ff00;
    font-family: monospace;
    outline: none;
}