/* styles.css */
body {
    font-family: monospace;
    background-color: #f0f0f0; /* Assuming this is your preferred page background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000; /* Setting a neutral color for the rest of the page */
}
#terminal {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #0f0;
    background-color: #333;
    overflow-y: auto;
    height: 400px;
    box-sizing: border-box;
    color: #0f0; /* Ensure terminal text color is green */
    font-family: inherit; /* Inherit the monospace font */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px; /* Adding rounded edges */
    position: absolute;
}
.prompt {
    display: flex;
    width: 100%; /* Ensure prompt spans full width */
}
.prompt span {
    margin-right: 5px;
}
.prompt input {
    flex: 1;
    border: none;
    background: none;
    color: inherit;
    outline: none;
    caret-color: #0f0; /* Ensure the caret color is visible */
}